<div class="footer">
  <div class="footer-links">
    <%= link_to 'https://github.com/riadh-anis/opti_recruit', target: '_blank' do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/riadh-azouzi-475627ab/', target: '_blank' do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/yifei-sun-651aba159/', target: '_blank' do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/dougberkley/', target: '_blank' do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Data Science project made at <%= link_to 'Le Wagon', 'https://www.lewagon.com/tokyo', class: 'p-0', target: '_blank'  %>
  </div>
</div>
