<div data-controller='tool-tip'>
  <% if growth.zero? %>
    <%= image_tag 'bars_0.png', width: 24, 'data-bs-toggle': "tooltip", 'data-bs-placement': "top", title: "Growth potential: #{growth}" %>
  <% elsif growth <= 2 %>
    <%= image_tag 'bars_1.png', width: 24, 'data-bs-toggle': "tooltip", 'data-bs-placement': "top", title: "Growth potential: #{growth}" %>
  <% elsif growth <= 4 %>
    <%= image_tag 'bars_2.png', width: 24, 'data-bs-toggle': "tooltip", 'data-bs-placement': "top", title: "Growth potential: #{growth}" %>
  <% elsif growth <= 6 %>
    <%= image_tag 'bars_3.png', width: 24, 'data-bs-toggle': "tooltip", 'data-bs-placement': "top", title: "Growth potential: #{growth}" %>
  <% else %>
    <%= image_tag 'bars_4.png', width: 24, 'data-bs-toggle': "tooltip", 'data-bs-placement': "top", title: "Growth potential: #{growth}" %>
  <% end %>
</div>
