<table class="table table-hover table-borderless sortable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NAME</th>
      <th scope="col" class='text-center'>AGE</th>
      <th scope="col" class='text-center'>POS</th>
      <th scope="col" class='text-center'>OVA</th>
      <th scope="col" class='text-center'>POT</th>
      <th scope="col" class='text-center'>VAL</th>
      <th scope="col" class='text-center'>WAGE</th>
      <% if params[:controller] == 'players' && params[:action] == 'index' %>
        <th scope="col"> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% players.each_with_index do |player, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><% if player.player_seasons.first&.player_face_url %><%= image_tag player.player_seasons.last&.player_face_url, width: 30 %><% end %> <%= player.name %></td>
        <td class='text-center'><%= player.age %></td>
        <td class='text-center'><%= player.position %></td>
        <td class='text-center'><%= player.player_seasons.last&.overall %></td>
        <td class='text-center'><%= player.player_seasons.last&.potential %></td>
        <td class='text-center'>€<%= player.player_seasons.last&.value_eur&.fdiv(1000000)&.round %>M</td>
        <td class='text-center'>€<%= player.player_seasons.last&.wage_eur&.fdiv(1000)&.round %>K</td>
        <% if params[:controller] == 'players' && params[:action] == 'index' %>
          <td>
            <%= link_to player_path(player, position: player.position), class: 'text-primary' do %>
              <i class="fas fa-search"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
