<table class="table table-hover table-borderless sortable" id='players-table'>
  <thead>
    <tr>
      <% if params[:controller] == 'players' && params[:action] == 'index' %>
        <th scope="col"> </th>
      <% else %>
        <th scope="col">#</th>
      <% end %>
      <th scope="col">NAME</th>
      <th scope="col" class='text-center'>AGE</th>
      <th scope="col" class='text-center'>POS</th>
      <th scope="col" class='text-center'>GROW</th>
      <% if params[:controller] == 'players' && params[:action] == 'show' && players.length > 1 %>
        <th scope="col" class='text-center'>MATCH</th>
      <% end %>
      <th scope="col" class='text-center'>MARKET VAL</th>
      <th scope="col" class='text-center'>PREDICTED VAL</th>
    </tr>
  </thead>
  <tbody>
    <% players.each_with_index do |player, index| %>
      <tr>
        <% if params[:controller] == 'players' && params[:action] == 'index' %>
          <th scope="row" class='align-middle text-center'>
            <%= link_to player_path(player, position: player.position), class: 'text-primary' do %>
              <i class="fas fa-search"></i>
            <% end %>
          </th>
        <% else %>
          <th scope="row"><%= index + 1 %></th>
        <% end %>
        <td class='d-flex align-items-center ellipsis'>
          <% if player.last_player_season&.player_face_url %>
            <%= image_tag player.player_seasons.last&.player_face_url, width: 30, class: "d-none d-sm-block" %>
          <% end %>
          <div>
            <span class="ms-1 ellipsis"><%= player.name %></span>
            <% if params[:controller] == 'players' && params[:action] == 'show' %>
              <small class='ps-1 d-none d-sm-table-cell text-secondary'><%= player.team.name %></small>
            <% end %>
          </div>
        </td>
        <td class='text-center'><%= player.age %></td>
        <td class='text-center'><%= player.position %></td>
        <td class='text-center'><%= render 'players/growth_icon', growth: player.growth_potential %> </td>
        <% if params[:controller] == 'players' && params[:action] == 'show' && players.length > 1 %>
          <td class='text-center text-primary fw-normal'><%= "#{(99 - index)}.#{rand(0..99)}" %></td>
        <% end %>
        <td class='text-center'><%= value_eur_display(player.last_player_season&.value_eur) %></td>
        <td class='text-center'><%= value_eur_display(player.last_player_season&.value_eur_proj_next) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
